@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue: #051163;
  --color-bright: #086DFB;
  --color-sand: #F7F3F0;
  --color-stone: #EBE3DC;
  --color-coral: #FF7F62;
  --color-headline: #081326;
  --color-body: #384152;
}

body {
  background-color: var(--color-sand);
  color: var(--color-body);
  font-family: "Basis Grotesque", "Segoe UI", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
